<%- contentFor('title') %>Register
<%- contentFor('bodyClass') %>signed-out
<%- contentFor('body') %>
<div class="container">
  <div class="row justify-content-center" role="main">
    <div class="col col-sm-10 col-md-8 col-lg-6">
      <img class="logo" src="/images/logo352.png">
      <div class="card">
        <h1>Register</h1>
        <form method="post" action="/register">
          <input type="hidden" name="redirectURI" value="<%= redirectURI %>" />
          <div class="form-group">
            <input type="text" class="form-control <%= hasError('firstName') ? 'is-invalid' : '' %>" name="firstName" value="<%= user.firstName %>" placeholder="First name"/>
            <%- renderErrorMessages('firstName') %>
          </div>
          <div class="form-group">
            <input type="text" class="form-control <%= hasError('lastName') ? 'is-invalid' : '' %>" name="lastName" value="<%= user.lastName %>" placeholder="Last name"/>
            <%- renderErrorMessages('lastName') %>
          </div>
          <div class="form-group">
            <input type="text" class="form-control <%= hasError('email') ? 'is-invalid' : '' %>" name="email" value="<%= user.email %>" placeholder="Email" />
            <%- renderErrorMessages('email') %>
          </div>
          <div class="form-group">
            <input type="password" class="form-control <%= hasError('password') ? 'is-invalid' : '' %>" name="password" value="<%= user.password %>" placeholder="Password" />
            <%- renderErrorMessages('password') %>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
          </div>
          <div class="form-group text-center">
            <a href="/login?redirectURI=<%= encodeURIComponent(redirectURI || '/') %>">Already have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
