<%- contentFor('head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<script type="application/javascript" src="/libraries/smoothscroll/smoothscroll.min.js"></script>
<script type="application/javascript" src="/scripts/home.js"></script>
<% if (process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>');
</script>
<% } %>
<%- contentFor('body') %>
<%- include('_header', {top: true}) %>
<main role="main">
  <section id="home">
    <div class="container">
      <div id="home__valprop">
        <h1>Your calling is saving lives, we want to help you do it.</h1>
        <p>Peak Response aims to improve the accuracy and efficiency of triage management during mass casualty incidents.</p>
        <a class="btn btn-sm btn-block btn-outline-primary" href="#solution"><span id="home__cta"><i class="fas fa-chevron-right invisible"></i>Our Solution<i class="fas fa-chevron-right"></i></span></a>
      </div>
    </div>
    <div id="home__credit">Photo credit: Ilka Cole | VIRIN: 170928-F-GY014-009.JPG</div>
  </section>
  <section id="solution">
    <div class="container">
      <h2>Our Solution</h2>
      <h3>Peak Response is a MCI management system for EMS professionals.</h3>
      <div class="row">
        <div class="col-lg-8 order-lg-2">
          <img src="/images/home1.jpg" alt="Peak Response mobile app and web dashboard">
        </div>
        <div class="col-lg-4 order-lg-1">
          <p>Peak Response is an open source software system that provides EMS professionals with simple documentation, powerful sorting, and streamlined analysis capabilities that fit into the workflow of complex MCIs.</p>
          <p>As first responders collect patient data across a scene, each new piece of information is automatically uploaded to provide a live bird’s-eye view for the incident commander and others managing the scene strategy. Peak Response also allows for easy data transfer to receiving hospitals, creating a foundation for improved continuation of care.</p>
        </div>
      </div>
    </div>
    <div class="solution__screenshot bg-alternate">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-lg-2">
            <img src="/images/home2.jpg" alt="Peak Response scene overview">
          </div>
          <div class="col-lg-6 order-lg-1">
            <h3>Scene Overview</h3>
            <p>First responders approaching or just arriving on scene are able to access an overview that helps them understand what to expect.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="solution__screenshot">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="/images/home3.jpg" alt="Peak Response mobile app hands-free interface">
          </div>
          <div class="col-lg-6">
            <h3>Hands-Free Documentation</h3>
            <p>First responders are able to document patient information and triage status using our hands-free voice-to-text capability.  After observations are recorded verbally, Peak Response pulls information from the audio and auto fills the patient form.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="solution__screenshot bg-alternate">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-lg-2">
            <img src="/images/home4.jpg" alt="Peak Response patient sorting options">
          </div>
          <div class="col-lg-6 order-lg-1">
            <h3>Powerful Patient Sorting</h3>
            <p>Patients in the system can be easily sorted based on a variety of criteria for more effective scene management and patient prioritization. Patients and first responders can also be viewed on a map to identify highly impacted areas and direct resources accordingly.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="solution__screenshot">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="/images/home5.jpg" alt="Peak Response mobile app user friendly UI">
          </div>
          <div class="col-lg-6">
            <h3>Simple to Update</h3>
            <p>Patient documentation can be continuously updated as a scene progresses.  Once a patient is ready to leave the scene, they will be marked as transported and their information can be transported to the receiving hospital.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="story" class="bg-alternate">
    <div class="container">
      <h2>Our Story</h2>
      <h3>Dedicated to providing life saving efficiency.</h3>
      <p>Peak Response (originally NaTriage) was initially conceptualized in 2019 as part of the Tech to Protect Challenge, sponsored by NIST PSCR, aimed at fostering technological innovation for emergency responders. The solution came out of a focus on a common pain point: time spent documenting injuries and incidents at the scene of mass casualty incidents. These incidents are chaotic, high-pressure environments where time spent documenting can mean the difference between life and death. The quick tag scan and speech-to-text form filling were the first features, but the solution quickly expanded to include a variety of powerful sorting and data export options to improve efficiency, both at the point of contact with the patient and also for the incident commander monitoring the entire scene.</p>
      <div id="story__bios" class="row">
        <div class="col-lg-3">
          <img src="/images/bio-britt.jpg" alt="Portrait of Britt Jensen">
        </div>
        <div class="col-lg-9">
          <h4>Britt Jensen<span>&nbsp;&nbsp;|&nbsp;&nbsp;Co-Founder/CEO</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/britt-jensen-10957164/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Prior to co-founding Peak Response, Britt worked in product design consulting where she helped develop everything from medical devices to children’s toys for clients around the world. She is passionate about bringing user-centered products to industries that are not traditionally design-focused and believes that everyone, no matter how highly trained, is able to do their work more effectively with well-designed products. As CEO of Peak Response, Britt is focused on product definition, user validation, business strategy, marketing, and partnership development. She is committed to immersing herself in the public safety industry to build products that are simple, relevant, and innovative. Britt is a graduate of Stanford University’s design program.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <img src="/images/bio-francis.jpg" alt="Portrait of Francis Li">
        </div>
        <div class="col-lg-9">
          <h4>Francis Li<span>&nbsp;&nbsp;|&nbsp;&nbsp;Co-Founder/CTO</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/francisli/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Francis is a full-stack software architect with nearly two decades of experience building and launching new products in Silicon Valley. A serial entrepreneur, he has been a consultant, a co-founder and held executive level roles in numerous prior startups where he was responsible for executing the development of new web and mobile applications and services across a broad spectrum of industries, including healthcare, digital marketing, and entertainment. With a complementary background in interaction design, Francis is also a passionate advocate for user-centered design and serves as a bridge facilitating the tight integration between product and engineering. Francis holds BA and MS degrees in Computer Science from UC Berkeley and a Master of Interaction Design degree from the Interaction Design Institute Ivrea.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <img src="/images/bio-ray.jpg" alt="Portrait of Ray Lehr">
        </div>
        <div class="col-lg-9">
          <h4>Chief Ray Lehr<span>&nbsp;&nbsp;|&nbsp;&nbsp;Advisor</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/ray-lehr-331789a/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Chief Ray Lehr has worked in public safety for over four decades. As a fire chief and incident commander, he has first hand knowledge of the needs of first responders at mass casualty events. For the past 10 years he has supported the development of new technologies to help public safety improve their operations to increase efficiency and save lives. Ray is passionate about public safety and innovation and is excited to join the Peak Response team.</p>
          <p class="story__quote">Working with smart developers like Francis and Britt who are driven to help solve technology problems for first responders is a wonderful opportunity to do good for our communities.</p>
          <p class="story__quote-attribution">&mdash; Chief Ray Lehr</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <img src="/images/bio-charlie.jpg" alt="Portrait of Charlie Fair">
        </div>
        <div class="col-lg-9">
          <h4>Lieutenant Charlie Fair<span>&nbsp;&nbsp;|&nbsp;&nbsp;Advisor</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/charlie-fair-659918191/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Lieutenant Charlie Fair brings over 30 years of EMS, public safety, and government experience to the Peak Response team. He has unique interdisciplinary expertise and likes to say that he speaks both &ldquo;public safety&rdquo; and &ldquo;information technology.&rdquo; Lt Fair responded to many local disasters, mass casualty incidents (MCI), and tornadoes during his career and is now passionate about contributing to technology innovation in the public safety space.</p>
          <p class="story__quote">I am excited to be working with Peak Response to help get this life-impacting technology into the hands of the responders.</p>
          <p class="story__quote-attribution">&mdash; Lt Charlie Fair</p>
        </div>
      </div>
    </div>
    <div class="solution__screenshot bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-lg-2">
            <img src="/images/home6.png" alt="GPL and AGPL logos">
          </div>
          <div class="col-lg-6 order-lg-1">
            <h3>Free. Open Source. Standards Based.</h3>
            <p>Peak Response is being developed in the open as free software licensed under the GNU General Public License. Browse our <a href="https://github.com/peakresponse/">source code repositories</a> on GitHub.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="bg-alternate">
    <div class="container">
      <h2>Contact us</h2>
      <h3>We would love to hear from you.</h3>
      <p>We’re in the early stages of developing this product and are always looking for feedback from users.  If you’re interested in testing out the product or are just looking for more info, please leave your information and we’ll connect with you.</p>
      <form class="row" method="post" action="/contact-us">
        <div class="form-group col-md-6 col-lg-5 offset-lg-1">
          <div class="form-field">
            <label for="firstName">First Name</label>
            <input required type="text" class="form-control" id="firstName" name="firstName" />
          </div>
        </div>
        <div class="form-group col-md-6 col-lg-5">
          <div class="form-field">
            <label for="lastName">Last Name</label>
            <input required type="text" class="form-control" id="lastName" name="lastName"/>
          </div>
        </div>
        <div class="form-group col-lg-10 offset-lg-1">
          <div class="form-field">
            <label for="email">Email</label>
            <input required type="email" class="form-control" id="email" name="email" />
          </div>
        </div>
        <div class="form-group col-lg-10 offset-lg-1">
          <div class="form-field">
            <label for="message">Message</label>
            <textarea required class="form-control" id="message" name="message" rows="4"></textarea>
          </div>
        </div>
        <div class="form-group col-lg-7 offset-lg-1">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="feedback" name="feedback" value="yes">
            <label for="feedback" class="form-check-label">&nbsp;I'm interested in providing feedback on the product.</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="pilot" name="pilot" value="yes">
            <label for="pilot" class="form-check-label">&nbsp;I'm interested in being part of a pilot program.</label>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <button type="submit" class="btn btn-sm btn-block btn-outline-primary">Submit</button>
        </div>
      </form>
    </div>
  </section>
  <!-- FOOTER -->
  <%- include('_footer') %>
</main>
<div class="modal fade" id="redirect" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/images/logo-dark.png" alt="Peak Response Logo" />
        <p>NaTriage is now Peak Response.<br />Please make note of our new web address:<br/>https://peakresponse.net</p>
        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
<script>
  if (window.location.hash == '#redirect') {
    window.location.replace("#home");
    $('#redirect').modal('show');
  };
</script>
