<%- contentFor('head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<script type="application/javascript" src="/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript" src="/libraries/smoothscroll/smoothscroll.min.js"></script>
<script type="application/javascript" src="/scripts/home.js"></script>
<% if (process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>');
</script>
<% } %>
<%- contentFor('body') %>
<%- include('_header', {top: true}) %>
<main role="main">
  <section id="home">
    <div class="container">
      <div id="home__valprop">
        <h1>Tools for real-time patient documentation.</h1>
        <p>At Peak Response, we make cutting-edge technology accessible, simple, and integrated to serve the unique needs of the public safety community.</p>
        <a class="btn btn-sm btn-block btn-outline-primary" href="#solution"><span id="home__cta"><i class="fas fa-chevron-right invisible"></i>Our Solution<i class="fas fa-chevron-right"></i></span></a>
      </div>
    </div>
    <div id="home__credit">Photo credit: <a href="https://unsplash.com/@camstejim">https://unsplash.com/@camstejim</a></div>
  </section>
  <section id="solution">
    <div class="container">
      <h2>Our Solution</h2>
      <h3>Coordination and documentation software that doesn’t distract from patient care.</h3>
      <div class="row">
        <div class="col-lg-8 order-lg-2">
          <img src="/images/home1.jpg" alt="Peak Response mobile app and web dashboard">
        </div>
        <div class="col-lg-4 order-lg-1">
          <p>Peak Response simplifies real-time patient data capture by combining user-centered design principles and powerful modern technology. Originally created to be used during mass casualty incidents, the Peak Response software performs under pressure and without pulling attention away from patient care and coordination. Using a combination of hands-free voice-to-text form filling, instant information syncing, accurate time-stamping, and integrated data transfer, the software enables first responders to document patients and coordinate care with ease during regular incidents and mass casualties alike.</p>
          <p>Peak Response was designed to work well with existing tools and protocols and can be run on smartphones, tablets, and laptops already owned by many departments, so no proprietary hardware is required. The data collected by the software helps with real-time care and can easily transfer into an electronic patient care report for more accurate final documentation after an incident is complete.</p>
        </div>
      </div>
    </div>
    <div class="bg-alternate pt-5">
      <div class="container">
        <h2>Key Features</h2>
        <div class="row">
          <div class="col-lg text-center mb-5">
            <div class="solution__feature"><img src="/images/feature1.png" alt="Hands-Free" /></div>
            <h4>Hands-Free<br />Voice-to-Text<br />Documentation</h4>
          </div>
          <div class="col-lg text-center mb-5">
            <div class="solution__feature"><img src="/images/feature2.png" alt="Real-Time" /></div>
            <h4>Real-Time<br />Information<br />Syncing</h4>
          </div>
          <div class="col-lg text-center mb-5">
            <div class="solution__feature"><img src="/images/feature3.png" alt="Time-Stamped" /></div>
            <h4>Time-Stamped<br />Data</h4>
          </div>
          <div class="col-lg text-center mb-5">
            <div class="solution__feature"><img src="/images/feature4.png" alt="Commodity Hardware" /></div>
            <h4>Runs on<br />Commodity<br />Hardware</h4>
          </div>
          <div class="col-lg text-center mb-5">
            <div class="solution__feature"><img src="/images/feature5.png" alt="Integrated" /></div>
            <h4>Integrated with<br />CAD & ePCR</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="blog">
    <div class="container">
      <h2>Blog</h2>
      <div class="row">
        <% for (const article of articles) { %> 
          <div class="col-md-4 article">
            <a class="card" href="<%= article.link %>" target="_blank">
              <img src="<%= article.image %>" class="card-img-top" alt="<%= article.title %>" />
              <div class="card-body">
                <h4 class="card-title"><%= article.title %></h4>
                <h5 class="card-subtitle"><%= article.pubDate %></h5>
                <p class="card-text"><%- article.content %></p>
              </div>
            </a>
          </div>
        <% } %>
      </div>
      <div class="text-center">
        <a class="btn btn-sm btn-outline-primary" href="<%= process.env.MARKETING_BLOG %>" target="_blank">View More Articles</a>
      </div>
    </div>
  </section>
  <section id="story" class="bg-alternate">
    <div class="container">
      <h2>Our Story</h2>
      <h3>Dedicated to providing life saving efficiency.</h3>
      <p>Peak Response (originally NaTriage) was initially conceptualized in 2019 as part of the Tech to Protect Challenge, sponsored by NIST PSCR, aimed at fostering technological innovation for emergency responders. The solution came out of a focus on a common pain point: time spent documenting injuries and incidents at the scene of mass casualty incidents. These incidents are chaotic, high-pressure environments where time spent documenting can mean the difference between life and death. The quick tag scan and speech-to-text form filling were the first features, but the solution quickly expanded to include a variety of powerful sorting and data export options to improve efficiency, both at the point of contact with the patient and also for the incident commander monitoring the entire scene.</p>
      <p>The Peak Response software has now expanded beyond mass casualties and a version designed specifically for quick daily patient documentation will be released in fall 2021.</p>
      <div id="story__bios" class="row">
        <div class="col-lg-3">
          <img src="/images/bio-britt.jpg" alt="Portrait of Britt Jensen">
        </div>
        <div class="col-lg-9">
          <h4>Britt Jensen<span>&nbsp;&nbsp;|&nbsp;&nbsp;Co-Founder/CEO</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/britt-jensen-10957164/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Prior to co-founding Peak Response, Britt worked in product design consulting where she helped develop everything from medical devices to children’s toys for clients around the world. She is passionate about bringing user-centered products to industries that are not traditionally design-focused and believes that everyone, no matter how highly trained, is able to do their work more effectively with well-designed products. As CEO of Peak Response, Britt is focused on product definition, user validation, business strategy, marketing, and partnership development. She is committed to immersing herself in the public safety industry to build products that are simple, relevant, and innovative. Britt is a graduate of Stanford University’s design program.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <img src="/images/bio-francis.jpg" alt="Portrait of Francis Li">
        </div>
        <div class="col-lg-9">
          <h4>Francis Li<span>&nbsp;&nbsp;|&nbsp;&nbsp;Co-Founder/CTO</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/francisli/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Francis is a full-stack software architect with nearly two decades of experience building and launching new products in Silicon Valley. A serial entrepreneur, he has been a consultant, a co-founder and held executive level roles in numerous prior startups where he was responsible for executing the development of new web and mobile applications and services across a broad spectrum of industries, including healthcare, digital marketing, and entertainment. With a complementary background in interaction design, Francis is also a passionate advocate for user-centered design and serves as a bridge facilitating the tight integration between product and engineering. Francis holds BA and MS degrees in Computer Science from UC Berkeley and a Master of Interaction Design degree from the Interaction Design Institute Ivrea.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <img src="/images/bio-ray.jpg" alt="Portrait of Ray Lehr">
        </div>
        <div class="col-lg-9">
          <h4>Chief Ray Lehr<span>&nbsp;&nbsp;|&nbsp;&nbsp;Advisor</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/ray-lehr-331789a/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Chief Ray Lehr has worked in public safety for over four decades. As a fire chief and incident commander, he has first hand knowledge of the needs of first responders at mass casualty events. For the past 10 years he has supported the development of new technologies to help public safety improve their operations to increase efficiency and save lives. Ray is passionate about public safety and innovation and is excited to join the Peak Response team.</p>
          <p class="story__quote">Working with smart developers like Francis and Britt who are driven to help solve technology problems for first responders is a wonderful opportunity to do good for our communities.</p>
          <p class="story__quote-attribution">&mdash; Chief Ray Lehr</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <img src="/images/bio-charlie.jpg" alt="Portrait of Charlie Fair">
        </div>
        <div class="col-lg-9">
          <h4>Lieutenant Charlie Fair<span>&nbsp;&nbsp;|&nbsp;&nbsp;Advisor</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/charlie-fair-659918191/"><i class="fab fa-linkedin"></i></a></h4>
          <p>Lieutenant Charlie Fair brings over 30 years of EMS, public safety, and government experience to the Peak Response team. He has unique interdisciplinary expertise and likes to say that he speaks both &ldquo;public safety&rdquo; and &ldquo;information technology.&rdquo; Lt Fair responded to many local disasters, mass casualty incidents (MCI), and tornadoes during his career and is now passionate about contributing to technology innovation in the public safety space.</p>
          <p class="story__quote">I am excited to be working with Peak Response to help get this life-impacting technology into the hands of the responders.</p>
          <p class="story__quote-attribution">&mdash; Lt Charlie Fair</p>
        </div>
      </div>
    </div>
    <div class="solution__screenshot bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-lg-2">
            <img src="/images/home6.png" alt="GPL and AGPL logos">
          </div>
          <div class="col-lg-6 order-lg-1">
            <h3>Free. Open Source. Standards Based.</h3>
            <p>Peak Response is being developed in the open as free software licensed under the GNU General Public License. Browse our <a href="https://github.com/peakresponse/">source code repositories</a> on GitHub.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="bg-alternate">
    <div class="container">
      <h2>Contact us</h2>
      <h3>We would love to hear from you.</h3>
      <p>We’re in the early stages of developing this product and are always looking for feedback from users.  If you’re interested in testing out the product or are just looking for more info, please leave your information and we’ll connect with you.</p>
      <form class="row" method="post" action="/contact-us">
        <div class="form-group col-md-6 col-lg-5 offset-lg-1">
          <div class="form-field">
            <label for="firstName">First Name</label>
            <input required type="text" class="form-control" id="firstName" name="firstName" />
          </div>
        </div>
        <div class="form-group col-md-6 col-lg-5">
          <div class="form-field">
            <label for="lastName">Last Name</label>
            <input required type="text" class="form-control" id="lastName" name="lastName"/>
          </div>
        </div>
        <div class="form-group col-lg-10 offset-lg-1">
          <div class="form-field">
            <label for="email">Email</label>
            <input required type="email" class="form-control" id="email" name="email" />
          </div>
        </div>
        <div class="form-group col-lg-10 offset-lg-1">
          <div class="form-field">
            <label for="message">Message</label>
            <textarea required class="form-control" id="message" name="message" rows="4"></textarea>
          </div>
        </div>
        <div class="form-group col-lg-7 offset-lg-1">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="feedback" name="feedback" value="yes">
            <label for="feedback" class="form-check-label">&nbsp;I'm interested in providing feedback on the product.</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="pilot" name="pilot" value="yes">
            <label for="pilot" class="form-check-label">&nbsp;I'm interested in being part of a pilot program.</label>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <button type="submit" class="btn btn-sm btn-block btn-outline-primary">Submit</button>
        </div>
      </form>
    </div>
  </section>
  <!-- FOOTER -->
  <%- include('_footer') %>
</main>
<div class="modal fade" id="redirect" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/images/logo-dark.png" alt="Peak Response Logo" />
        <p>NaTriage is now Peak Response.<br />Please make note of our new web address:<br/>https://peakresponse.net</p>
        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
<script>
  if (window.location.hash == '#redirect') {
    window.location.replace("#home");
    $('#redirect').modal('show');
  };
</script>
