<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="Peak Response is an MCI management system for EMS professionals.">
    <meta name="author" content="Peak Response Inc.">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title><%= locals.title ? `${title} - ` : '' %><%= process.env.APP_NAME %></title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/libraries/fontawesome/css/all.css" />
    <% if (locals.designWebpackStats) { %>
      <% for (let asset of Object.keys(designWebpackStats.assets)) { %>
        <% if (asset.endsWith('.css')) { %>
          <link rel="stylesheet" href="<%= designWebpackStats.assets[asset].publicPath %>" />
        <% } %>
      <% } %>
    <% } %>
    <script type="application/javascript" src="/libraries/jquery/jquery.min.js"></script>
    <% if (locals.head) { %><%- head %><% } %>
  </head>
  <body<% if (locals.bodyClass) { %> class="<%= bodyClass %>"<% } %>>
    <% if (flash.info || flash.error) { %>
      <div class="toast-container">
        <% if (flash.info) { %>
        <div class="toast" role="main">
          <div class="toast-body">
            <%= flash.info.join(' '); %>
          </div>
        </div>
        <% } %>
        <% if (flash.error) { %>
        <div class="toast" role="main">
          <div class="toast-body">
            <%= flash.error.join(' '); %>
          </div>
        </div>
        <% } %>
      </div>
      <script type="application/javascript">$('.toast').toast({delay: 2000}).toast('show');</script>
    <% } %>
    <%- body %>
  </body>
</html>
