<%- contentFor('title') %><%= __('mass-casualty.title') %>
<%- contentFor('head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<script type="application/javascript" src="/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
<%- contentFor('body') %>
<%- include('_header') %>
<main id="solution" role="main">
  <section class="container">
    <h1 class="mb-5">Peak Response Mass Casualty Incident</h1>
    <div class="solution">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mt-lg-5">Ready in an Instant when Disaster Stikes</h3>
          <p>At the touch of a button, Peak Response transforms from a run-reporting tool to a <b>real-time situational awareness</b> coordination tool for responders on scene of a MCI.</p>
          <p>Watch approximate patient counts tally up across all connected devices in real-time without radio back-and-forth.</p>
        </div>
        <div class="col-lg-4 position-relative">
          <img class="solution__iphone" src="/images/iphone09.png" alt="Peak Response mobile app MCI prompt">
        </div>
        <div class="col-lg-4 col-xl-3 position-relative">
          <img class="solution__iphone" src="/images/iphone02.png" alt="Peak Response mobile app Approximate Patient Counts">
        </div>
      </div>
    </div>
  </section>
  <section class="bg-alternate py-5">
    <div class="solution container">
      <div class="row">
        <div class="col-lg-4 order-lg-3">
          <h3 class="mt-lg-5">Turn any Triage Tag into an Electronic Record</h3>
          <p><b>Scan any triage tag barcode</b> and create an electronic patient record using the same Peak Response <b>Voice-to-Text</b> interface used for daily run reporting into a MCI-optimized form.</p>
        </div>
        <div class="col-lg-4 col-xl-3 order-lg-1 position-relative">
          <img class="solution__iphone" src="/images/iphone10.png" alt="Peak Response mobile app MCI prompt">
        </div>
        <div class="col-lg-4 order-lg-2 position-relative">
          <img class="solution__iphone" src="/images/iphone11.png" alt="Peak Response mobile app signed release form">
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="solution">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mt-lg-5">Bring Some Order to the Chaos</h3>
          <p>Peak Response turns scanned triage tags into a <b>sortable, searchable list</b> for patient tracking. GPS coordinates captured and updated at every scan lets you plot their locations on a map.</p>
        </div>
        <div class="col-lg-4 position-relative">
          <img class="solution__iphone" src="/images/iphone12.png" alt="Peak Response mobile app release form">
        </div>
        <div class="col-lg-4 col-xl-3 position-relative">
          <img class="solution__iphone" src="/images/iphone13.png" alt="Peak Response mobile app signed release form">
        </div>
      </div>
    </div>
  </section>
  <div class="bg-alternate py-5">
    <div class="container">
      <h3>Awards</h3>
      <p>Peak Response has been recognized with awards for its research and development of new tools for MCIs.</p>
      <ul>
        <li>NIST PSCR Tech to Protect Challenge Regional Category and Overall Winner (2019)</li>
        <li>NIST PSCR Tech to Protect Challenge National Award of Excellence (2020)</li>
        <li>NIST PSCR Tech to Protect Challenge Seed Award (2020)</li>
        <li>NIST PSCR Tech to Protect Challenge Progress Award (2020)</li>
        <li>NIST PSCR Public Safety Innovation Accelerator Program Demonstration Award (2021)</li>
      </ul>
    </div>
  </div>
  <div class="container py-5">
    <h3>Previous: Peak Response Daily Run Reporting</h3>
    <div class="text-center text-lg-start">
      <a class="btn btn--primary me-3" href="/run-reporting">Learn More</a>
      <a class="btn btn--secondary" href="/#contact">Contact Us</a>
    </div>
  </div>
</main>
<%- include('_footer') %>
