<%- contentFor('title') %>PIN Codes
<%- contentFor('head') %>
<script type="application/javascript" src="/libraries/qrcode/qrcode.min.js"></script>
<style>
  .card {
    margin: 1em 0;
    height: 600px;
  }
  .card__image {
    width: 200px;
    height: 200px;
  }
  .card__pin {
    letter-spacing: 10px;
    line-height: 100px;
  }
  .break {
    break-after: always;
  }
</style>
<%- contentFor('body') %>
<div class="container-fluid">
  <% for (let i = 0; i < count; i++) { %>
    <% if (i % 4 == 0) { %><div class="row break"><% } %>
    <% const pin = Patient.generatePIN(seed++) %>
    <div class="col-6<% if (i % 4 == 3) { %> break<% } %>">
      <div id="<%= pin %>" class="card">
        <div class="card-body text-center">
          <img class="card__image">
          <h2 class="card__pin text-monospace"><%= pin %></h2>
        </div>
      </div>
    </div>
    <% if (i % 4 == 3) { %></div><% } %>
  <% } %>
</div>
<script type="application/javascript">
$(document).ready(function() {
  console.log('ready');
  const opts = {
    width: 400
  };
  $('.card').each(function(index) {
    const card = $(this);
    const pin = card.attr('id');
    console.log(pin);
    QRCode.toDataURL(pin, opts, function(err, url) {
      if (err) {
        console.error(err);
      } else {
        console.log(pin, url);
        card.find('img').attr('src', url);
      }
    });
  })
});
</script>
