<%- contentFor('title') %>PIN Codes
<%- contentFor('head') %>
<script type="application/javascript" src="/libraries/qrcode/qrcode.min.js"></script>
<style>
  .bracelet {
    margin: 1em;
    padding: 0 4em;
    border: 1px solid gray;
  }
  .bracelet__image {
    width: 100px;
    height: 100px;
  }
  .bracelet__pin {
    margin-left: 1em;
    letter-spacing: 10px;
    line-height: 100px;
  }
</style>
<%- contentFor('body') %>
<% for (let i = 0; i < count; i++) { %>
<% const pin = Patient.generatePIN(seed++) %>
<div id="<%= pin %>" class="bracelet">
  <div class="row">
    <div class="col-1">
      <img class="bracelet__image">
    </div>
    <div class="col-11">
      <h2 class="bracelet__pin text-monospace"><%= pin %></h2>
    </div>
  </div>
</div>
<% } %>
<script type="application/javascript">
$(document).ready(function() {
  console.log('ready');
  const opts = {
    width: 200
  };
  $('.bracelet').each(function(index) {
    const bracelet = $(this);
    const pin = bracelet.attr('id');
    console.log(pin);
    QRCode.toDataURL(pin, opts, function(err, url) {
      if (err) {
        console.error(err);
      } else {
        console.log(pin, url);
        bracelet.find('img').attr('src', url);
      }
    });
  })
});
</script>
