<%- contentFor('title') %><%= __('terms.title') %>
<%- contentFor('head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<script type="application/javascript" src="/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
<%- contentFor('body') %>
<%- include('_header') %>
<main role="main">
  <section class="container">
    <h1 class="c6" id="h.5wjoogls6wft"><span class="c10">Terms of Service</span></h1>
    <h2 class="c7" id="h.61mdyydorzi3"><span class="c9 c11">Peak Response Inc. &nbsp;| &nbsp;Last updated December
        2020</span></h2>
    <p class="c1"><span class="c3 c9">BY CLICKING ON &ldquo;I AGREE&rdquo;, EXECUTION AND DELIVERY OF A SERVICE ORDER AND
        AGREEMENT WITH PEAK RESPONSE INC. OR OTHERWISE DOWNLOADING, ACCESSING AND/OR USING ANY OF THE &ldquo;PEAK RESPONSE
        SOFTWARE SERVICES&rdquo; (AS DEFINED BELOW), YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND
        BY THESE TERMS AND CONDITIONS OF USE OF THE Peak Response SOFTWARE SERVICES (THE &ldquo;TERMS OF SERVICE&rdquo;).
        &nbsp;IF YOU DO NOT AGREE TO THE TERMS OF SERVICE, CLICK &ldquo;I DON&rsquo;T AGREE&rdquo; AND DO NOT ACCESS OR
        USE ANY OF THE PEAK RESPONSE SOFTWARE SERVICES.</span></p>
    <p class="c1"><span class="c3 c0">These Terms of Service, together with the attachments referred to herein as well as,
        for &ldquo;Healthcare Provider Users&rdquo; (as defined below), your Service Order and other attachments referred
        to therein if you have executed and delivered a Service Order with Peak Response Inc., and any other documents
        expressly incorporated herein by reference constitute the agreement &nbsp;(collectively, the
        &ldquo;Agreement&rdquo;) governing use of Peak Response Software Services entered into by and between Peak
        Response Inc. a Delaware Public Benefit Corporation, (hereinafter referred to as &ldquo;Peak
        Response&ldquo;)&rdquo; and the applicable individual user and, for Healthcare Provider Users, the healthcare
        provider entity on whose behalf this Agreement is entered for the access and/or use of the Peak Response Software
        Services (hereinafter referred to as &ldquo;You&rdquo; or &ldquo;User&rdquo;), effective as of the earlier of Your
        registration, downloading of a Peak Response Software application, first use of Peak Response Software Services,
        or execution of a Service Order (the &ldquo;Effective Date&rdquo;).</span></p>
    <p class="c1"><span class="c3 c0">You represent and warrant that you are over the age of 18 and have the capacity and
        authority to bind yourself to the terms of this Agreement and agree to be bound by the terms of this Agreement.
        &nbsp;If you access and/or or use the Peak Response Software Services on behalf of an entity, you represent and
        warrant that you have legal authority to bind such entity to this Agreement, and in such event the terms
        &ldquo;you&rdquo; and &ldquo;your&rdquo; also refer to such entity, except that if you do not have actual legal
        authority to bind such entity, you are and shall be personally bound and liable under these Terms of Service and
        you agree to indemnify Peak Response with respect to any claims, losses, expenses (including, without limitation,
        legal expenses), damages or other liability (collectively, &ldquo;Claims&rdquo;) arising or resulting therefrom.
        &nbsp;Peak Response shall not have any liability for any Claims arising or resulting from reliance on any
        representation, warranty, agreement, instruction, notice or communication received from you whether on your own
        behalf or on behalf of such entity.</span></p>
    <h5 class="c1" id="h.iykr6g4orz77"><span class="c2">1. USE OF THE SERVICES.</span></h5>
    <p class="c1"><span class="c0">1.1. </span><span class="c0">&nbsp;</span><span class="c0 c4">Peak Response Software
        Services</span><span class="c3 c0">. &ldquo;Peak Response Software Services&rdquo; means the Peak Response
        products and services that You obtain from Peak Response, and related websites, services and the Peak Response
        mobile software applications or other software provided by Peak Response, including without limitation, any
        software as a service or any professional services, in which these Terms of Service are posted or referenced.
        &ldquo;Users&rdquo; include both healthcare providers and/or healthcare facilities (collectively,
        &ldquo;Healthcare Provider Users&rdquo;) and their patients who are authorized to use Peak Response patient
        interface features of the Peak Response Software Services to communicate with such Healthcare Provider Users
        (&ldquo;Healthcare Provider Patient Users&rdquo;). References to &ldquo;Users&rdquo; herein include both
        Healthcare Provider Users and Healthcare Provider Patient Users.</span></p>
    <p class="c1"><span class="c0">1.2. </span><span class="c0 c4">Use by Healthcare Provider Users</span><span
        class="c3 c0">: Subject to payment of the applicable subscription, license and/or other fees (if any) and
        User&rsquo;s full and ongoing compliance with the terms and conditions of this Agreement, Peak Response grants to
        Healthcare Provider Users limited, revocable, non-exclusive, non-transferable, non-sublicensable authorization for
        such Healthcare Provider User&rsquo;s authorized user(s) to access and use the Peak Response Software Services
        within the scope of the Peak Response Software Services as specified in the applicable Service Order solely for
        their own medical practice operational use. To the extent that Peak Response makes the Peak Response Software
        Services available for direct integration with Healthcare Provider User&rsquo;s web properties, Peak Response
        grants to such Healthcare Provider User a personal, limited, revocable, non-transferable, non-sublicensable right
        to such integration without modification into those web properties that are owned or controlled by such Healthcare
        Provider User solely for such purpose. Additional Peak Response Software Services and Locations may be added by
        contacting Peak Response regarding same, subject to the parties executing additional Service Orders and payment of
        the applicable additional fees and charges for same.</span></p>
    <p class="c1"><span class="c0">1.3. </span><span class="c0 c4">Use by Healthcare Provider Patient Users</span><span
        class="c0 c3">: &nbsp;Subject to User&rsquo;s full and ongoing compliance with the terms and conditions of this
        Agreement, Healthcare Provider Patient Users that download a Peak Response mobile app and/or register to use the
        Peak Response Software Services patient interface features are granted a limited, revocable, non-exclusive,
        non-transferable, non-sublicensable authorization to access and use the Peak Response mobile app and the patient
        interface features of the Peak Response Software Services included in the Service subscribed for by the Healthcare
        Provider Patient User&rsquo;s applicable Healthcare Provider User solely to communicate and interact with such
        Healthcare Provider User via the Peak Response Software Services. </span></p>
    <p class="c1"><span class="c0">1.4. </span><span class="c0 c4">User Responsibilities</span><span class="c0">. User
        shall not allow any unauthorized access to or use of the Peak Response Software Services (including, without
        limitation, by maintaining the confidentiality of all usernames, passwords, API keys, and similar access
        credentials), and User will be solely liable to Peak Response for any and all activity or use of the Peak Response
        Software Services. User will notify Peak Response promptly of any unauthorized access or use. User will use the
        Peak Response Software Services only in accordance with the terms of this Agreement, the user guide made available
        by Peak Response (as may be amended from time to time by Peak Response), applicable privacy policies, applicable
        laws, government regulations, and third party contracts, including without limitation, any and all laws,
        regulations, and obligations relating to licensed medical services, privacy, publication, consumer protection,
        advertising, and industry self-regulatory guidelines or similar industry agreements or arrangements. User shall
        not (i) sell, resell, rent or lease the Peak Response Software Services, or make the Peak Response Software
        Services available to any third party on a service bureau basis, (ii) use the Peak Response Software Services to
        store or transmit malicious code, (iii) interfere with or disrupt the integrity or performance of the Peak
        Response Software Services or third-party data contained therein, or (iv) attempt to gain unauthorized access to
        the Peak Response Software Services or their related systems or networks or any other Users&rsquo; account or
        data. User is responsible for moderating and controlling the content it provides or displays as part of the Peak
        Response Software Services. User will maintain industry standard organizational and technical security safeguards
        for end user data accessed or collected by User through the Peak Response Software Services. If User requires the
        use of proprietary assets (e.g. fonts, images, videos, etc.), User will provide Peak Response with an appropriate
        license for such proprietary asset, or alternatively Peak Response will directly procure a license for such
        proprietary asset and invoice User (at cost) for such license. Peak Response EXPRESSLY DISCLAIMS RESPONSIBILITY
        AND LIABILITY FOR ANY CLAIMS OR DAMAGES ARISING IN CONNECTION WITH OR RELATING TO ANY USER CONTENT, OR ANY
        COMPLIANCE WITH LAWS OR REGULATIONS GOVERNING HEALTH CARE OR HEALTH PROVIDERS. THE CONTENT, WHETHER SUCH CONTENT
        IS PROVIDED BY OR THROUGH THE USE OF THE SERVICES OR THROUGH ANY OTHER COMMUNICATIONS FROM Peak Response, IS NOT
        INTENDED AS A SUBSTITUTE FOR, NOR DOES IT REPLACE, PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT.
        USER&rsquo;S USE OF THE CONTENT IS SOLELY AT USER&rsquo;S OWN RISK. NOTHING STATED OR POSTED ON THE SITE OR
        AVAILABLE THROUGH ANY SERVICES IS INTENDED TO BE, AND MUST NOT BE TAKEN TO BE, THE PRACTICE OF MEDICINE,
        DENTISTRY, NURSING, OR OTHER PROFESSIONAL HEALTH CARE ADVICE OF Peak Response, OR THE PROVISION OF MEDICAL CARE BY
        Peak Response. </span><span class="c0">USER SHALL NOT USE ANY OF THE Peak Response SOFTWARE SERVICES FOR PURPOSES
        OF MAKING EMERGENCY COMMUNICATIONS.</span></p>
    <p class="c1"><span class="c0">1.5. </span><span class="c0 c4">Usage Limitations</span><span class="c3 c0">. The Peak
        Response Software Services may be subject to other limitations in Your Service Order and/or other documentation
        and such limitations shall be deemed to be incorporated by reference into and made a part of this Agreement. User
        will abide by any such limitations and User will not attempt to exceed or circumvent such limitations. If User
        exceeds, or Peak Response reasonably believes that User has circumvented any limitations, then User&rsquo;s
        ability to use the Peak Response Software Services may be temporarily or permanently blocked or suspended and User
        may be subject to overage charges.</span></p>
    <p class="c1"><span class="c0">1.6. </span><span class="c0 c4">Support Services</span><span class="c3 c0">. If User
        purchased the Peak Response Software Services from Peak Response, Peak Response will provide basic support
        services to User, to address reported incidents of the Peak Response Software Services not performing materially
        in accordance with applicable specifications, when used by User in accordance with this Agreement and all
        applicable documentation in accordance with Peak Response&rsquo;s standard support procedures.</span></p>
    <p class="c1"><span class="c0">1.7. </span><span class="c0 c4">Free/Trial Services</span><span class="c3 c0">. From
        time to time, Peak Response may make widgets, apps or other features or services available to User on a trial or
        pilot basis or otherwise at no charge (collectively, &ldquo;Free/Trial Services&rdquo;). User may choose to use
        such Free/Trial Services or not in its sole discretion. Free/Trial Services are intended for convenience and/or
        evaluation purposes. Support services are not provided for Free/Trial Services except as otherwise determined by
        Peak Response in its sole and absolute discretion. Free/Trial Services may be subject to additional terms, and are
        provided &ldquo;AS-IS&rdquo; with no warranties and all restrictions, reservations of rights, disclaimers of
        warranties, limitations of liability, confidentiality obligations, as well as User obligations concerning the
        Services and other non-subscription or support-related terms contained herein shall apply equally to User&rsquo;s
        use of Free/Trial Services, except that Peak Response shall have the right to terminate User&rsquo;s use of any
        Free/Trial Services at any time with or without advance notice without liability or obligation of any kind. User
        agrees that Peak Response will have no liability for any harm or damage arising out of or in connection with any
        Free/Trial Services.</span></p>
    <p class="c1"><span class="c0">1.8. </span><span class="c0 c4">Peak Response Mobile App and other Software</span><span
        class="c0">. Peak Response mobile apps and/or other software that is downloaded or used by User may only be used
        by the individual who registered their account for such individual&rsquo;s own use and not to provide outsourcer
        or service bureau services to third parties. You may not permit use of any such software, or any portion thereof,
        by another party without Peak Response&rsquo;s prior written consent. </span><span class="c0">Peak Response
        (and/or its licensors) retain all right, title and interest, including all intellectual property rights, in such
        software.</span><span class="c0">&nbsp;</span><span class="c0">You agree not to rent, lease, loan, sell or
        distribute any such software in any manner. You further agree not to use any such software in any manner to
        harass, abuse, stalk, threaten, defame or otherwise infringe or violate the rights of any other party, or
        overburden, corrupt or disable a third party&rsquo;s systems, or obtain unauthorized access to any third party
        system or data. You agree that you will not send false or misleading information via such software. You will
        ensure that all proprietary notices displayed on such software will not be removed or modified. All Peak Response
        software is confidential and proprietary information of Peak Response and its licensors, and you agree to take
        adequate steps to protect such software from unauthorized disclosure or use. You represent and warrant to Peak
        Response that you will not download, install, access, or use such software where prohibited. You shall not use or
        otherwise export or re-export such software except as authorized by United States law and the laws of the
        jurisdiction in which such software was obtained. In particular, but without limitation, such software may not be
        exported or re-exported (a) into any U.S. embargoed countries or (b) to anyone on the U.S. Treasury
        Department&rsquo;s list of Specially Designated Nationals or the U.S. Department of Commerce Denied Person&rsquo;s
        List or Entity List. By using such software, you represent and warrant that you are not located in any such
        country or on any such list. </span><span class="c0">Peak Response software is protected by copyright laws and
        international copyright treaties, as well as other intellectual property laws and treaties. Copyright &copy; 2021
        Peak Response, Inc. and/or its affiliates or licensors. &nbsp;Such software and all copies thereof are licensed,
        not sold.</span></p>
    <p class="c1"><span class="c0">1.9. </span><span class="c0 c4">Fees and Payment</span><span class="c3 c0">. Healthcare
        Provider Users shall pay the applicable implementation, subscription and other fees and charges specified in the
        User&rsquo;s Service Order as a condition to access and use of the Peak Response Software Services in accordance
        with the payment terms set forth in the Service Order. &nbsp;Fees for any additional products or services not
        specified in the applicable Service Order shall be invoiced by Peak Response to the applicable User and are due
        and payable no later than thirty (30) days from the date of invoice. &nbsp;Fee rates are subject to change by Peak
        Response by providing notice thereof to Users not less than ninety (90) days in advance of such changes taking
        effect. &nbsp;Any failure by User to timely pay applicable fees on or before the applicable due date shall
        constitute a material breach of this Agreement. &nbsp;Amounts not paid when due shall bear interest at the rate of
        one and one half percent (1 1/2%) per month or the maximum legal rate, whichever is less, until paid in full
        (together with any accrued interest). &nbsp;All fees are nonrefundable except as otherwise agreed to by Peak
        Response in writing.</span></p>
    <p class="c1"><span class="c0">1.10. </span><span class="c0 c4">Taxes</span><span class="c3 c0">. If any federal,
        state, local or foreign sales, use, property, value-added, excise or gross receipts taxes or any other taxes of
        any kind (other than Peak Response&rsquo;s income taxes) are imposed or are otherwise payable with respect to any
        access to or use of the Peak Response Software Services or any license, software, hardware or other goods or
        implementation, support, maintenance or other services provided in this Agreement, then such taxes shall be billed
        to and paid by User.</span></p>
    <p class="c1"><span class="c0">1.11. </span><span class="c0 c4">Additional Peak Response Services and/or Services
        Locations</span><span class="c3 c0">. Healthcare Provider Users may purchase additional Peak Response Software
        Services and/or add Locations for use of the Peak Response Software Services under the terms of this Agreement at
        then current pricing or such other pricing as may be mutually agreed to by Peak Response and the Healthcare
        Provider User by contacting Peak Response and completing a separate Service Order for same.</span></p>
    <p class="c1"><span class="c0">1.12. </span><span class="c0 c4">Electronic Execution</span><span class="c3 c0">. The
        words &ldquo;execution,&rdquo; &ldquo;signed,&rdquo; &ldquo;signature,&rdquo; and words of similar import in this
        agreement shall be deemed to include electronic and digital signatures and the keeping of records in electronic
        form, each of which shall be of the same effect, validity, admissibility, and enforceability as manually executed
        signatures and paper-based recordkeeping systems, to the extent and as provided for under applicable law.</span>
    </p>
    <h5 class="c1" id="h.hwdviebiq9el"><span class="c2">2. THIRD PARTY SERVICES. </span></h5>
    <p class="c1"><span class="c3 c0">2.1. The Peak Response Software Services may contain features designed to
        interoperate with third party applications, products or services (such as cloud-based services, web platforms,
        storage, and analytical services (&ldquo;Third Party Services&rdquo;). To use such features, User may be required
        to obtain access to such Third Party Services, or Peak Response may be required to obtain access to such Third
        Party Services on behalf of User, from the providers of such Third Party Services and User agrees to the terms and
        conditions on which such third party provider offers such Third Party Services. If User chooses to use such
        features and Peak Response is required to obtain access to Third Party Services on behalf of User, User authorizes
        Peak Response to access the applicable Third Party Services on User&rsquo;s behalf and obtain, access, store, and
        use the data made available to Peak Response by the Third Party Services in accordance with this Agreement. User
        is solely responsible for compliance with the terms and conditions applicable to any Third Party Services accessed
        by or on behalf of User in connection with the Peak Response Software Services and will indemnify Peak Response
        from any and all harm, damages, costs, and expenses incurred by Peak Response in connection with a breach of the
        foregoing. Peak Response shall not be responsible for any disclosure, modification or deletion of data resulting
        from any such access to such Third Party Services and their providers. If the provider of any such Third Party
        Service ceases to make the application available for interoperation with the corresponding feature of the Peak
        Response Software Services on reasonable terms, Peak Response may cease providing such features without entitling
        User to any refund, credit, or other compensation. Any acquisition or use of Third Party Services and any exchange
        of information between an end user and any third party is directly between the end users and the applicable third
        party, and any interaction between User and end users is solely between User and the end user. Peak Response
        EXPRESSLY DISCLAIMS RESPONSIBILITY AND LIABILITY FOR ANY CLAIMS OR DAMAGES ARISING IN CONNECTION WITH OR RELATING
        TO ANY END USER INTERACTIONS WITH THE Peak Response SOFTWARE SERVICES OR ANY THIRD PARTY SERVICES.</span></p>
    <h5 class="c1" id="h.hwdviebiq9el-1"><span class="c2">3. PROPRIETARY RIGHTS. </span></h5>
    <p class="c1"><span class="c0">3.1. </span><span class="c0 c4">Reservation of Rights in Peak Response Software
        Services</span><span class="c0">. Peak Response reserves all right, title and interest in and to the Peak Response
        Software Services, including all related intellectual property rights. No rights are granted to User other than as
        expressly set forth herein, whether by implication, estoppel, or otherwise. All enhancements, modifications, and
        derivative works made to the Peak Response Software Services (collectively, the &ldquo;Derivatives&rdquo;), and
        all intellectual property rights therein, shall be owned by Peak Response, whether or not such Derivatives are
        made at User&rsquo;s request or instruction, with the exception of any electronic data or information submitted,
        provided, or made available to Peak Response by or on behalf of User to the Peak Response Software Services
        (&ldquo;User Data&rdquo;) contained in the Derivatives which shall continue to be owned by User. User hereby
        irrevocably assigns to Peak Response all right, title and interest in and to the Derivatives, including all
        intellectual property rights therein that may insure to User or that User is deemed to obtain pursuant to this
        Agreement.</span></p>
    <p class="c1"><span class="c0">3.</span><span class="c5">2</span><span class="c0">. </span><span
        class="c0 c4">Confidentiality; Healthcare Law Compliance; Use of Non-Personally Identifiable Data</span><span
        class="c3 c0">. &nbsp; By virtue of this Agreement, the parties may have access to information that is
        confidential to one another (&ldquo;Confidential Information&rdquo;). Users acknowledge and agree that the Peak
        Response Software Services and their software, design, functionality and features constitute trade secrets within
        the Confidential Information owned by Peak Response, in addition to other business, proprietary and/or otherwise
        non-public information pertaining to Peak Response. &nbsp;User health/healthcare information and other non-public
        information that is stored on Peak Response servers is considered to be User Confidential Information. &nbsp;A
        party&rsquo;s Confidential Information shall not include information which: (a) is or becomes a part of the public
        domain through no act of omission of the other party; or (b) was in the other party&rsquo;s lawful possession
        prior to the disclosure and had not been obtained by the other party either directly or indirectly from the
        disclosing party; or (c) is lawfully disclosed to the other party by a third party without restriction on
        disclosure; (d) is independently developed by the other party; or (e) is required to be disclosed by applicable
        laws or regulations or by an order of a court of competent jurisdiction or other legal process, provided that in
        the event of a compelled disclosure the party required to make such disclosure shall if reasonably practicable and
        permitted under applicable law, provide notice to the other party as early as practicable prior to such disclosure
        in order to enable the other party to contest and/or attempt to limit the extent of such disclosure. &nbsp;The
        parties agree, both during the term of this Agreement and for a period of two (2) years after termination of this
        Agreement, to hold each other&rsquo;s Confidential Information in confidence, except that with respect to
        information constituting &ldquo;trade secrets&rdquo; as defined under the Uniform Trade Secrets Act the
        obligations hereunder shall continue for as long as such information continues to constitute trade secrets. The
        parties agree not to make each other&rsquo;s Confidential Information available in any form to any third party or
        to use each other&rsquo;s Confidential Information for any purpose other than the use or provision of the Peak
        Response Software Services, as applicable, and the implementation of this Agreement. &nbsp;Each party agrees to
        take reasonable steps to ensure that Confidential Information is not disclosed or distributed by its employees or
        agents in violation of the provisions of this Agreement. &nbsp;Notwithstanding the foregoing, Users shall not, at
        any time whether while this Agreement is in effect or thereafter permit anyone (other than Healthcare Provider
        Users&rsquo; own employees and its Healthcare Provider Patient Users, or Peak Response) to access or use the Peak
        Response Software Services. &nbsp;Each party shall comply with all applicable laws, rules and regulations in
        performing its obligations hereunder, including the Health Insurance Portability and Accountability Act of 1996,
        as amended (&ldquo;HIPAA&rdquo;), and the rules promulgated thereunder (including the Standards for Privacy of
        Individually Identifiable Health Information). &nbsp;Healthcare Provider Users and Peak Response agree to enter
        into a customary HIPAA Business Associate Agreement upon entering into this Agreement. &nbsp;Notwithstanding any
        other provision in this Agreement, Peak Response own and have the right to gather, retrieve, compile, store,
        retain, use, sell, license, transfer or otherwise exploit all information that is not &ldquo;Protected Health
        Information&rdquo; as defined under 45 C.F.R. Section 164.501 or other &ldquo;personally identifiable data&rdquo;
        relating to use of the Peak Response Software Services for research, quality control, product development and
        refinement, commercial and other purposes as determined by Peak Response without a duty to account to or obtain
        consent from Users or any third party. &nbsp;As used herein, &ldquo;non-personally identifiable data&rdquo; is any
        data element or collection of data elements that cannot be associated with a specific individual, whether by
        itself or in combination with other information. Peak Response may use such information as may be reasonably
        necessary in connection with performing, providing, developing, enhancing, supporting, and maintaining the Peak
        Response Software Services; and (ii) in connection with the creation of any information or data derived from use
        of the Peak Response Software Services (including, without limitation, metrics and analytics related to such use),
        which is not specific to a person, does not include Protected Health Information or personally identifiable
        information, and cannot be used, alone or in conjunction with other information, to identify any specific person,
        including as may be required to develop, deliver and provide ongoing innovation to the Peak Response Software
        Services.</span></p>
    <p class="c1"><span class="c0">3.</span><span class="c5">3</span><span class="c0">. </span><span
        class="c0 c4">Suggestions</span><span class="c3 c0">. User may, but is not obligated to, provide suggestions,
        enhancement requests, recommendations or other feedback provided by User (&ldquo;Suggestions&ldquo;). User hereby
        grants Peak Response a royalty-free, worldwide, irrevocable, sublicensable, transferable, perpetual license to
        use, disclose, reproduce, license, distribute and exploit such Suggestions, and incorporate Suggestions into the
        Peak Response Software Services and its other services, products, technologies, documentation or other development
        with no obligation to pay, attribute, license or to make available to, User or any other person or entity.</span>
    </p>
    <h5 class="c1" id="h.hwdviebiq9el-2"><span class="c2">4. LIMITED WARRANTY; DISCLAIMER. </span></h5>
    <p class="c1"><span class="c0">4.1. </span><span class="c0 c4">Limited Warranty</span><span class="c3 c0">. Each party
        represents and warrants to the other party that it has validly entered into this Agreement and has the legal power
        to do so, and that it will comply with all applicable laws and regulations in connection with its performance.
        User&rsquo;s sole remedy for performance issues with respect to Peak Response Software Services shall be any
        support services Peak Response is obligated to provide in accordance with this Agreement.</span></p>
    <p class="c1"><span class="c0">4.2. </span><span class="c0 c4">Disclaimer</span><span class="c3 c0">. EXCEPT AS
        EXPRESSLY PROVIDED HEREIN, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, Peak Response, ITS AFFILIATES AND
        ITS AND THEIR RESPECTIVE DIRECTORS, OFFICERS, MANAGERS, MEMBERS, OWNERS, EMPLOYEES, AGENTS, CONTRACTORS AND OTHER
        REPRESENTATIVES (THE &ldquo;Peak Response PARTIES&rdquo;) MAKE NO WARRANTIES OF ANY KIND, WHETHER EXPRESS,
        IMPLIED, STATUTORY OR OTHERWISE, AND EACH OF THE Peak Response PARTIES SPECIFICALLY DISCLAIMS ALL OTHER WARRANTIES
        AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING WITHOUT LIMITATION: THE IMPLIED WARRANTIES OF
        MERCHANTABILITY, TITLE, NONINFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE WITH RESPECT TO THE Peak Response
        SOFTWARE SERVICES, INCLUDING, WITHOUT LIMITATION, ANY REPRESENTATION THAT THE USE OF THE Peak Response SOFTWARE
        SERVICES WILL BE UNINTERRUPTED, ERROR-FREE, OR COMPLETELY SECURE; OR WITH RESPECT TO ANY USER DATA OR OTHER THIRD
        PARTY CONTENT THAT MAY BE ACCESSED, PROVIDED, OR MADE AVAILABLE; OR ANY THIRD PARTY SERVICES ACCESSED OR USED, IN
        CONNECTION WITH THE Peak Response SOFTWARE SERVICES; AND HEREBY EXPRESSLY DISCLAIMS ANY LIABILITY WITH RESPECT
        THERETO. Peak Response WILL NOT BE LIABLE TO USER FOR ANY LOST REVENUE, LOST PROFITS, REPLACEMENT GOODS OR
        SERVICES, LOSS OF TECHNOLOGY, RIGHTS OR SERVICES, INCIDENTAL, PUNITIVE, SPECIAL, INDIRECT OR CONSEQUENTIAL
        DAMAGES, LOSS OF DATA, OR INTERRUPTION OF BUSINESS, EVEN IF Peak Response WAS ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES, WHETHER UNDER THEORY OF CONTRACT, TORT STRICT LIABILITY OR OTHERWISE.</span></p>
    <p class="c1"><span class="c0">4.3. </span><span class="c0 c4">Services</span><span class="c3 c0">. THE Peak Response
        PARTIES DO NOT WARRANT THAT THE Peak Response SOFTWARE SERVICES WILL BE CORRECT, UNINTERRUPTED OR ERROR-FREE, THAT
        DEFECTS WILL BE CORRECTED, THAT THE Peak Response SOFTWARE SERVICES WILL BE COMPATIBLE WITH ANY OTHER SOFTWARE,
        HARDWARE, OR OTHER MATERIALS, THAT USER CONTENT CAN OR MAY BE DISPLAYED BY USER, OR THAT THE Peak Response
        SOFTWARE SERVICES OR THE SERVERS THAT MAKE THE Peak Response SOFTWARE SERVICES AVAILABLE ARE FREE OF VIRUSES OR
        OTHER HARMFUL COMPONENTS; AND THE Peak Response PARTIES HEREBY EXPRESSLY DISCLAIM ANY LIABILITY WITH RESPECT
        THERETO. USER UNDERSTANDS AND AGREES THAT IF USER USES, ACCESSES, DOWNLOADS, OR OTHERWISE OBTAINS ANY THIRD PARTY
        SERVICES OR CONTENT OR DATA THEREIN, IT IS AT USER&rsquo;S OWN DISCRETION AND RISK AND THAT USER WILL BE SOLELY
        RESPONSIBLE FOR ANY DAMAGE TO USER&rsquo;S PROPERTY OR LOSS OF DATA THAT RESULTS FROM THE USE OF Peak Response
        SOFTWARE SERVICES. Peak Response HAS NO CONTROL OVER ANY THIRD PARTY SERVICES, AND THEREFORE MAKES NO CLAIM OR
        REPRESENTATION REGARDING, AND EXPRESSLY DISCLAIMS RESPONSIBILITY FOR, THE ACCURACY, QUALITY, LEGALITY, NATURE,
        AVAILABILITY, OR RELIABILITY OF THIRD PARTY SERVICES AVAILABLE IN CONNECTION WITH THE Peak Response SOFTWARE
        SERVICES. Peak Response PROVIDES ACCESS TO THIRD PARTY SERVICES TO USER ONLY AS A CONVENIENCE, AND THE INCLUSION
        OF ANY LINK, REFERRAL, OR FEATURES ON THE Peak Response SERVICE TO THIRD PARTY SERVICES DOES NOT IMPLY Peak
        Response AFFILIATION, ENDORSEMENT, OR ADOPTION OF THE THIRD PARTY SERVICE OR ANY CONTENT OR DATA THEREIN. ACCESS
        AND USE OF THIRD PARTY SERVICES, INCLUDING WITHOUT LIMITATION THE CONTENT, MATERIAL, PRODUCTS, AND SERVICES
        AVAILABLE ON OR THROUGH THIRD PARTY SERVICES AND IS SOLELY AT USER&rsquo;S OWN RISK. USER IS SOLELY RESPONSIBLE
        FOR, AND THE Peak Response PARTIES HEREBY EXPRESSLY DISCLAIM ANY LIABILITY WITH RESPECT TO, THE USE OR DISPLAY OF
        ANY HEALTH RELATED DATA OR USER DATA, AND COMPLIANCE WITH ANY REGULATORY OBLIGATIONS RELATED THERETO.</span></p>
    <p class="c1"><span class="c0">User shall indemnify, defend and hold the Peak Response Parties harmless from and
        against any Claim(s) incurred or suffered by any of them with respect to any breach of any of User&rsquo;s
        representations, warranties or obligations hereunder or any act or omission by User or any of its authorized users
        or other personnel that results in a Claim. The Peak Response Parties shall have the right to engage their own
        counsel in connection with such matters and shall notify User promptly in writing of any such claim or suit
        against any of the Peak Response Parties.</span></p>
    <h5 class="c1" id="h.hwdviebiq9el-3"><span class="c2">5. LIMITATION OF LIABILITY. </span></h5>
    <p class="c1"><span class="c0">5.1. </span><span class="c0 c4">Exclusion of Consequential and Related
        Damages</span><span class="c3 c0">. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE Peak
        Response PARTIES HAVE ANY LIABILITY TO USER OR TO ANY THIRD PARTY FOR ANY INDIRECT, SPECIAL, EXEMPLARY,
        INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES HOWEVER CAUSED, WHETHER ARISING AS A RESULT OF STATUTE, CONTRACT,
        TORT (INCLUDING NEGLIGENCE) OR UNDER ANY OTHER THEORY OF LIABILITY, RELATING TO THIS AGREEMENT OR THE Peak
        Response SOFTWARE SERVICES, WHETHER OR NOT THE Peak Response PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGE.</span></p>
    <p class="c1"><span class="c0">5.2. </span><span class="c0 c4">Limitation of Liability</span><span class="c3 c0">. TO
        THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL ANY Peak Response PARTIES&rsquo; AGGREGATE TOTAL
        LIABILITY FOR ANY AND ALL CLAIMS ARISING OUT OF THIS AGREEMENT OR RELATING TO THE Peak Response SOFTWARE SERVICES,
        WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, EXCEED THE AMOUNTS ACTUALLY RECEIVED BY Peak
        Response WITH RESPECT TO USER&rsquo;S SUBSCRIPTION FOR THE Peak Response SOFTWARE SERVICES GIVING RISE TO THE
        APPLICABLE CLAIM DURING THE ONE (1) MONTH PRIOR TO THE DATE ON WHICH SUCH CLAIM OR CAUSE OF ACTION AROSE. THE
        FOREGOING LIMITATIONS SHALL APPLY EVEN IF USER&rsquo;S REMEDIES UNDER THIS AGREEMENT FAIL OF THEIR ESSENTIAL
        PURPOSE.</span></p>
    <h5 class="c1" id="h.hwdviebiq9el-4"><span class="c2">6. TERM AND TERMINATION. </span></h5>
    <p class="c1"><span class="c0">6.1. </span><span class="c0 c4">Term of Agreement</span><span class="c3 c0">. This
        Agreement commences on the Effective Date and continues until the User&rsquo;s subscription for Peak Response
        Software Services has expired or is terminated.</span></p>
    <p class="c1"><span class="c0">6.2. </span><span class="c0 c4">Termination</span><span class="c3 c0">. &nbsp;Either
        party will have the right to terminate this Agreement if the other party breaches any material term or condition
        of this Agreement and fails to cure such breach within thirty (30) days after receipt of written notice of the
        same, except in the case of User&rsquo;s failure to pay fees, which must be cured within fifteen (15) days after
        receipt of written notice from Peak Response. &nbsp;Peak Response may also suspend User&rsquo;s access to or use
        of the Peak Response Software Services in the event of nonpayment or other breach until such time is payment in
        full has been made or such other breach has been fully cured. Either party may also terminate this Agreement upon
        providing written notice to the other party if: (i) the other party becomes the subject of a voluntary petition in
        bankruptcy or any voluntary proceeding relating to insolvency, receivership, liquidation, or composition for the
        benefit of creditors; or (ii) the other party becomes the subject of an involuntary petition in bankruptcy or any
        involuntary proceeding relating to insolvency, receivership, liquidation, or composition for the benefit of
        creditors, if such petition or proceeding is not dismissed within sixty (60) days of filing. Free/Trial Services
        are subject to suspension or termination at any time with or without advance notice by Peak Response. &nbsp;Peak
        Response and/or the applicable User may elect to not renew this Agreement by providing written notice of
        non-renewal to the other party not less than thirty (30) days prior to the end of the applicable subscription
        period.</span></p>
    <p class="c1"><span class="c0">6.3. </span><span class="c0 c4">Effect of Termination/Nonrenewal</span><span
        class="c3 c0">. &nbsp;Upon the effective date of termination or expiration of this Agreement: &nbsp;(a) User shall
        cease all use of the Peak Response Software Services, and Peak Response may immediately cease providing same; (b)
        any and all payment obligations of User under this Agreement will become due immediately; (c) within thirty (30)
        days after such expiration or termination, each party shall return all Confidential Information of the other party
        in its possession at the time of expiration or termination and shall not make or retain any copies of such
        Confidential Information except as required to comply with any applicable legal or accounting record keeping
        requirements. &nbsp;Except in the event that this Agreement is terminated by Peak Response based on a breach of
        this Agreement by Client, if requested by a Healthcare Provider User, Peak Response shall use reasonable efforts
        to assist such Healthcare Provider User in transferring such User&rsquo;s data to User or another service provider
        (such services to be subject to Peak Response&rsquo;s customary fees on a time and materials basis unless
        otherwise set forth in a Service Order. Users of Peak Response mobile apps or other downloadable software shall
        permanently remove, delete, erase and otherwise eliminate such software from all systems and devices in such
        User&rsquo;s possession or control.</span></p>
    <p class="c1"><span class="c0">6.4. </span><span class="c0 c4">Surviving Provisions</span><span class="c3 c0">. The
        following provisions shall survive any termination or expiration of this Agreement for any reason and shall remain
        in effect after any such termination or expiration: the first three paragraphs of this Agreement, Sections 1.2, 2,
        3, 4, 5, 6, 7.2-7.4, 8 and 9.</span></p>
    <h5 class="c1" id="h.hwdviebiq9el-5"><span class="c2">7. MODIFICATIONS TO THE AGREEMENT.</span></h5>
    <p class="c1"><span class="c3 c0">7.1. Peak Response reserves the right, at its discretion, to change this Agreement
        on a going-forward basis at any time by posting the revised Agreement on its website or otherwise providing notice
        to User. User should check this Agreement online at the link referred to above periodically for changes. In the
        event that a change to this Agreement materially modifies User&rsquo;s rights or obligations, Peak Response will
        make reasonable efforts to notify User of such change. Peak Response may provide notice through a pop-up or banner
        within the Peak Response Software Services, by sending an email to any address User may have used to register for
        access, or through other similar mechanism. Additionally, if the changed Agreement materially modifies
        User&rsquo;s rights or obligations, Peak Response may require User to provide consent by accepting the changed
        Agreement. If Peak Response requires User&rsquo;s acceptance of the changed Agreement, changes are effective only
        after User&rsquo;s acceptance. If User does not accept the changed Agreement, Peak Response may terminate
        User&rsquo;s access to and use of the Peak Response Software Services. All other changes are effective upon the
        earlier of User&rsquo;s acceptance of the modified Agreement, User&rsquo;s use of the Peak Response Software
        Services with actual knowledge of the change, or thirty (30) days following publication of the modified Agreement.
        Disputes arising under this Agreement will be resolved in accordance with the Agreement in effect at the time the
        dispute arose.</span></p>
    <h5 class="c1" id="h.hwdviebiq9el-6"><span class="c2">8. GENERAL PROVISIONS. </span></h5>
    <p class="c1"><span class="c0">8.1. </span><span class="c0 c4">Relationship</span><span class="c3 c0">. The parties
        are independent contractors, and this Agreement does not create a partnership, franchise, joint venture, agency,
        fiduciary, or employment relationship. Neither party shall take any action or permit any action to be taken on its
        behalf which purports to be done on behalf of or in the name of the other party and shall have no power or
        authority to bind the other party to assume or create any obligation or responsibility express or implied on the
        other party&rsquo;s behalf or in its name, nor shall such party represent to anyone that it has such power or
        authority.</span></p>
    <p class="c1"><span class="c0">8.2. </span><span class="c0 c4">Notices</span><span class="c0">. All notices under this
        Agreement shall be in writing and shall be delivered, for notices to User, to the address set forth in
        User&rsquo;s registration information as provided for use of the Peak Response Software Services, and for notices
        to Peak Response, </span><span class="c0"><a class="c14"
          href="mailto:info@peakresponse.net">info@peakresponse.net</a></span><span class="c0">.</span></p>
    <p class="c1"><span class="c0">8.3. </span><span class="c0 c4">Waiver and Severability</span><span class="c3 c0">. No
        failure or delay by either party in exercising any right under this Agreement shall constitute a waiver of that
        right. If any provision of this Agreement is held by a court of competent jurisdiction to be contrary to law, the
        provision shall be interpreted to affect the original intent to the fullest extent possible, if at all, and the
        remaining provisions of this Agreement shall remain in full force and effect.</span></p>
    <p class="c1"><span class="c0">8.4. </span><span class="c0 c4">Assignment</span><span class="c3 c0">. Users may not
        assign any of its rights or obligations hereunder without the prior express written consent of Peak Response. Peak
        Response may assign this Agreement together with all rights and obligations hereunder, without restriction,
        including to an affiliate or to a successor entity resulting from a merger, acquisition, corporate reorganization,
        or sale of all or substantially all of its assets related to this Agreement. Any attempt by a party to assign its
        rights or obligations under this Agreement in breach of this section shall be void and of no effect. Subject to
        the foregoing, this Agreement shall bind and inure to the benefit of the parties, their respective successors and
        permitted assigns.</span></p>
    <p class="c1"><span class="c0">8.5. </span><span class="c0 c4">Governing Law</span><span class="c3 c0">. This
        Agreement shall be governed by and construed in accordance with the laws of the State of California without
        application of conflicts of laws rules or principles. Any dispute relating to the terms, interpretation or
        performance of this Agreement (other than claims for injunctive relief or other equitable remedies) will be
        submitted at the request of either party to binding arbitration. Arbitration will be conducted in San Francisco,
        California. &nbsp;Any claims for injunctive or other equitable relief shall be brought and heard in the state or
        federal courts located in San Francisco, California, and User consents to such venue and personal jurisdiction
        therein for any such proceedings. YOU HEREBY IRREVOCABLY WAIVE THE RIGHT TO PARTICIPATE AS A CLASS REPRESENTATIVE
        OR CLASS MEMBER ON ANY CLASS CLAIM YOU MAY HAVE AGAINST Peak Response INCLUDING ANY RIGHT TO CLASS ARBITRATION OR
        ANY CONSOLIDATION OF INDIVIDUAL ARBITRATIONS. In the event any provision of this Agreement is held by a tribunal
        of competent jurisdiction to be contrary to the law, the remaining provisions of this Agreement will remain in
        full force and effect. The waiver of any breach or default of this Agreement will not be valid unless given in
        writing signed by the party giving the waiver and shall not constitute a waiver of any subsequent breach or
        default, and will not act to amend or negate the rights of the waiving party. As used herein,
        &ldquo;affiliate&rdquo; means any person or entity directly or indirectly controlling or having the power to
        control, or controlled by or being under common control with another person or entity. &nbsp;For this purpose,
        &ldquo;control&rdquo; means the direct or indirect possession of power to direct or cause the direction of the
        management or policies of such party, whether through ownership or stock or other securities, by contract or
        otherwise. &nbsp;Ownership of more than fifty percent (50%) of the beneficial interest of an entity shall be
        conclusive evidence that control exists. &nbsp;A printed version of this Agreement and of any notice given in
        electronic form shall be admissible in any legal proceedings based upon or relating to this Agreement to the same
        extent and subject to the same conditions as other business documents and records originally generated and
        maintained in printed form. &nbsp;In the event of any conflict or inconsistency between these Terms of Service and
        other terms contained in a Service Order, the terms in the Service Order shall control with respect to such
        Service Order.</span></p>
    <p class="c1"><span class="c0">8.6. </span><span class="c0 c4">Export Control</span><span class="c3 c0">. &nbsp;User
        agrees to comply fully with all relevant regulations of the United States Department of Commerce and with the
        United States Export Administration Act to assure that the Peak Response Software Services or any software
        provided by Peak Response in connection therewith is not exported in violation of United States law.</span></p>
    <p class="c1"><span class="c0">8.7 &nbsp;</span><span class="c0 c4">Marketing References</span><span class="c3 c0">.
        &nbsp;User acknowledges and agrees that Peak Response may use User&rsquo;s name and logo in Peak Response&rsquo;s
        advertising marketing and promotional materials, including, but not limited to, in connection with sales
        presentations and on Peak Response&rsquo;s website.</span></p>
    <p class="c1"><span class="c0">8.8 &nbsp;</span><span class="c0 c4">Force Majeure</span><span class="c3 c0">. Except
        for User&rsquo;s payment obligations hereunder, neither party will be liable for any failure or delay in its
        performance under this Agreement due to any cause beyond its reasonable control, including act of war, acts of
        God, earthquake, storms or other weather or natural events, embargo, riot, sabotage, terrorism, epidemic,
        pandemic, labor shortage or dispute or other industrial disturbances, systemic electrical, telecommunications, or
        other utility failures, governmental act or failure of the Internet, provided that the delayed party: (i) gives
        the other party prompt notice of such cause, and (ii) uses its reasonable commercial efforts to correct promptly
        such failure or delay in performance.</span></p>
    <p class="c1"><span class="c0">8.9. </span><span class="c0 c4">Integration</span><span class="c0">. This Agreement as
        may be modified from time to time as set forth herein, as well as other documents or additional terms referenced
        herein, and in your Service Order and the documents incorporated by reference therein if you executed and
        delivered a Service Order with Peak Response, constitute the entire agreement between the parties as to its
        subject matter, and supersede all previous and contemporaneous agreements, proposals or representations, written
        or oral, concerning the subject matter of this Agreement, including without limitation, any foreign language
        translation of this Agreement.</span></p>
  </section>
</main>
<%- include('_footer') %>
