<%- include('../layout/_header.html.ejs') %>
<p><b>First Name:</b> <%= firstName %></p>
<p><b>Last Name:</b> <%= lastName %></p>
<p><b>Email:</b> <%= email %></p>
<p>
  <b>Message:</b><br />
  <%- message.replace('\n', '<br/>') %>
</p>
<p>
  <b>Feedback?</b> <%= feedback %><br />
  <b>Pilot?</b> <%= pilot %>
</p>
<p>
  <b>Headers:</b><br />
  <%= headers %>
</p>
<%- include('../layout/_footer.html.ejs') %>
