<%- contentFor('title') %><%= __('passwords.forgot.title') %>
<%- contentFor('bodyClass') %>unauthenticated
<%- contentFor('body') %>
<div class="container">
  <div class="row justify-content-center" role="main">
    <div class="col">
      <div class="logo my-5 pt-4">
        <img class="img-fluid" src="/images/logo-dark.png" alt="<%= __('peakresponse.logo') %>">
      </div>
      <% if (locals.isSent) { %>
        <p><%= __('passwords.forgot.success') %></p>
      <% } else { %>
        <p><%= __('passwords.forgot.prompt') %></p>
        <form method="post" action="/passwords/forgot">
          <div class="form-group mb-4">
            <div class="form-field<%= hasError('email') ? ' is-invalid' : '' %>">
              <label for="email"><%= __('models.user.email') %></label>
              <input type="text" class="form-control" id="email" name="email"/>
              <%- renderErrorMessages('email', ['d-none', 'd-md-block']) %>
            </div>
            <%- renderErrorMessages('email', ['d-md-none']) %>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"><%= __('button.submit') %></button>
              </div>
              <div class="form-group text-center">
                <a class="btn-link" href="/login"><%= __('passwords.forgot.backToSignIn') %></a>
              </div>
            </div>
          </div>
        </form>
      <% } %>
    </div>
  </div>
</div>
